ion-content{
    --background: url(../../assets/fondo.jpg) ;
}
.form {
    padding-top: 15px;
    position: absolute;
    top: 180px;
    width: 95%;
    background-color: #307185a8;
    text-align: center;
}
.boton {
    
    width:99%;
    top: 140px;
    background-color: #4c8dff;
}
.forma{
    width: 90%;
    text-align: center;
}
.barra{
    
    background-color: #fafafa;
    text-align: center;
}



